@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*, body {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden !important;
}

section {
    overflow-x: hidden !important;
}

.line-left, .line-right {
    position: relative;
}

.line {
    border-bottom: .3em solid #5D9EC5;
    padding-bottom: .5em;
}

.line-left::before {
    content: '';
    position: absolute;
    left: -12em;
    top: .5em;
    width: 80%;
    height: 8px;
    background-color: #5D9EC5;
    border-radius: 20px;
}

.fit-content {
    width: fit-content !important;
}

.border-bottom {
    border-bottom: 6px solid #DEBE7A !important;
}

.border-bottom-1 {
    border-bottom: 1em solid #DEBE7A !important;
}

.border-bottom-2 {
    border-bottom: 2em solid #DEBE7A !important;
}

.border-bottom-3 {
    border-bottom: 3em solid #DEBE7A !important;
}

.border-bottom-4 {
    border-bottom: 4em solid #DEBE7A !important;
}

.border-bottom-5 {
    border-bottom: 5em solid #DEBE7A !important;
}

.border-orange {
    border-color: #FF6F00 !important;
}

.border-to-left::after, .border-to-right::after, .border-to-center::after {
    position: absolute;
    top: 1.2em;
    content: '';
    width: 200%;
    height: 8px;
    background: #FFAD00;
}

.border-to-left {
    width: fit-content;
    color: #527697;
    font-weight: bold;
    position: relative;
}

.border-to-right {
    /* text-align: end; */
    color: #527697;
    font-weight: bold;
    position: relative;
}

.border-to-center {
    width: 100%;
}

.border-to-center::after {
    width: 100%;
    left: 0;
    margin-top: 10px;
}

.border-to-left::after {
    left: -100% !important;
}

.border-to-right::after {
    right: -100%;
}

.border-lg-to-right, .border-lg-to-left {
    width: 100%;
    position: relative;
}

.border-lg-to-right::after, .border-lg-to-left::after {
    content: '';
    position: absolute;
    top: 40%;
    width: 100%;
    height: 8px;
    background-color: #5D9EC5;
    border-radius: 20px;
}

.border-lg-to-left::after {
    left: -50%;
}

.border-lg-to-right::after {
    right: -50%;
}

.help img {
    width: 90%;
}

.presenca h5, .presenca h4 {
    color: #527697 !important;
}

.presenca .line {
    border-color: #FFAD00 !important;
}

.presenca button {
    background-color: #FFAD00 !important;
}

#skills h4 {
    color: #527697;
}

.skill {
    margin-top: 1.5em;
    padding: 2em 0 2em 0;
}

.skill-dark {
    background-color: #ECECEC;
}

/* ================================= */

/* INICIO DO HEADER */

/* ================================= */

header .navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    transition: .3s linear !important;
}

header a {
    color: white !important;
}

.logo-menu {
    position: relative;
    width: 9em !important;
    margin-top: .5em;
    transition: .1s linear;
}

.logo-menu:hover {
    width: 10em !important;
    transition: .1s linear;
}

.collapse {
    flex-grow: 0 !important;
}

.nav-item {
    position: relative;
    padding: 0 1em 0 1em !important;
    font-weight: 400;
    text-align: center;
}

header .nav-link {
    transition: .1s linear;
}

header .nav-link:hover::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: white;
}

header .nav-link::after {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    position: absolute;
    content: '';
    left: 0;
    top: 100%;
    width: 100%;
    height: 5px;
    background-color: transparent;
    border-radius: 15px;
    transition: .3s linear;
}

header .active::after {
    position: absolute;
    content: '';
    left: 0;
    top: 90%;
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 15px;
    transition: .3s linear;
}

header .icons {
    color: white !important;
}

header .icons a {
    margin-right: 15px;
}

header .icons a:hover {
    text-decoration: none !important;
}

header .item-collapse:hover>.dropdown {
    height: 100%;
    overflow: visible;
    transition: .3s linear;
    /* display: block; */
}

header .dropdown .nav-link-sub {
    margin: 5px 0 5px 0;
    width: 100%;
}

header .logo-md {
    display: none;
}

header #back-top {
    position: fixed;
    background: rgba(0, 0, 0, 0.74);
    color: white;
    bottom: 1.5em;
    right: 1.5em;
    padding: 1.2em;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: .3s linear;
    cursor: pointer;
    display: none;
}

header #whatsapp {
    position: fixed;
    bottom: 3em;
    right: .7em;
    z-index: 10;
    font-size: 35px;
    padding: 10px;
    background-color: #25D366;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

@media (min-width:992px) {
    header .navbar .container-fluid {
        justify-content: center !important;
    }
}

@media (max-width:991px) {
    header .navbar {
        background: rgba(0, 0, 0, 0.795) !important;
    }
    header .navbar-toggler {
        color: white;
        background-color: white;
    }
    header .navbar-collapse {
        text-align: center;
    }
    header .logo-menu {
        display: none;
    }
    header .icons {
        margin-top: 2em;
        margin-left: 0 !important;
    }
    header .logo-md {
        display: block;
        width: 2em;
    }
    header .logo-md img {
        width: 10em;
    }
    header .nav-item {
        margin: 5px 0 5px 0;
    }
}

/* ================================= */

/* FIM DO HEADER */

/* ================================= */

/* ================================= */

/* INICIO DO HOME */

/* ================================= */

#home {
    background: url("../img/banner-home.png");
    background-size: cover;
    background-position-y: center;
    position: relative;
    padding: 0 0 5em 5em;
}

#home::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.50);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#home h1 {
    margin-top: 2.5em;
    font-size: 1.9em;
    font-weight: bolder;
    color: white !important;
}

#home h2 {
    font-size: 1.2em;
    color: white;
}

#home button {
    background: #FFAD00;
    color: white;
    border-radius: 0;
    margin-top: 14em;
}

@media screen and (max-width: 991px) {
    #home {
        padding: 0 1em 5em 1em !important;
    }
    #home h1 {
        text-align: center !important;
        font-size: 1.5em;
    }
    #home button {
        margin-top: 2em !important;
    }
}

@media screen and (max-width: 576px) {
    #home h1 {
        margin-top: 2em;
        font-size: 1.2em !important;
    }
}

/* ================================= */

/* FIM DO HOME */

/* ================================= */

/* ================================= */

/* INICIO DE QUEM SOMOS */

/* ================================= */

#quem-somos .row {
    position: relative;
}

#quem-somos h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

#quem-somos p {
    color: white;
    font-size: 15px;
}

#quem-somos span {
    position: absolute;
    top: 0;
    left: -12em;
    width: 100%;
    height: 100%;
    background: rgb(93, 158, 197);
    background: linear-gradient(90deg, rgba(93, 158, 197, 1) 0%, rgba(74, 94, 122, 1) 100%);
}

#quem-somos img {
    width: 50em;
    height: 15em;
    object-fit: cover;
    object-position: 2em;
}

#quem-somos .slogan p {
    text-align: start;
    font-size: 1.5em;
    text-transform: uppercase;
    width: 25%;
    position: absolute;
    right: 41%;
    top: -.5em;
    opacity: 70%;
}

@media screen and (max-width:991px) {
    #quem-somos .slogan p {
        font-size: 1em !important;
        /* width: 50%; */
        text-align: right;
        right: 33%;
        top: -1em;
    }
}

@media screen and (max-width:768px) {
    #quem-somos {
        margin-top: 2em;
    }
    #quem-somos .slogan p {
        font-size: 1em !important;
        width: 50%;
        right: 0;
        text-align: right;
        top: -1em;
    }
    #quem-somos .container {
        background: rgb(93, 158, 197);
        background: linear-gradient(90deg, rgba(93, 158, 197, 1) 0%, rgba(74, 94, 122, 1) 100%);
    }
    #quem-somos .row {
        padding: 0 !important;
    }
    #quem-somos .banner {
        display: none;
    }
    #quem-somos span {
        display: none;
    }
    #quem-somos .info-main {
        margin-top: 2em;
        flex: 12;
        max-width: 100%;
    }
}

/* ================================= */

/* FIM DE QUEM SOMOS */

/* ================================= */

/* ================================= */

/* INICIO DE SERVIÇOS */

/* ================================= */

#servicos {
    overflow-y: hidden;
}

#servicos a {
    text-decoration: none;
}

#servicos a P {
    color: black;
}

#servicos h2 {
    margin-bottom: 2em;
    font-weight: bold;
    font-size: 1.8em;
    color: #707070;
    line-height: 1.5em;
}

#servicos .title h2 {
    color: #527697;
    font-weight: bold;
    margin-bottom: 0;
}

#servicos .card {
    margin-top: 2em;
    border-radius: 20px;
    border: none !important;
    -webkit-box-shadow: 0px 7px 14px -3px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 7px 14px -3px rgba(0, 0, 0, 0.20);
    height: 20em;
    transition: .1s linear;
}

#servicos .card:hover {
    background-color: #5D9EC5 !important;
    transition: .1s linear;
}

#servicos .card-img-top {
    transition: .1s linear;
}

#servicos .card:hover .card-text {
    color: white !important;
    transition: .1s linear;
}

#servicos .card:hover .card-img-top {
    filter: invert(100%);
    transition: .1s linear;
}

#servicos .card h1 {
    font-size: 20px;
    font-weight: bold;
    color: #3A4C5D;
}

#servicos .card-img-top {
    margin-top: 4em;
    width: 20% !important;
}

@media screen and (max-width:768px) {
    #servicos .title h2 {
        font-size: 2.5rem;
    }
    #servicos .title {
        text-align: center;
    }
    #servicos h2 {
        margin-top: 2em;
        font-size: 1.4em;
    }
}

/* ================================= */

/* FIM DE SERVIÇOS */

/* ================================= */

/* ================================= */

/* INICIO DE MARCAS */

/* ================================= */

#marcas {
    margin-top: 5em;
}

#marcas h1 {
    color: #527697;
    font-weight: bold;
    position: relative;
    border-bottom: 8px solid #DEBE7A;
}

#marcas .marcas-logos {
    background: rgb(93, 158, 197);
    background: linear-gradient(90deg, rgba(93, 158, 197, 1) 0%, rgba(74, 94, 122, 1) 100%);
}

#marcas .marcas-logos .card {
    background: white;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 12em;
    border-radius: 25px;
    margin-top: 2em;
    overflow: hidden;
    transition: .1s linear;
}

#marcas .marcas-logos img {
    width: 80%;
    filter: grayscale(100%);
    transition: .1s linear;
}

#marcas .marcas-logos img:hover {
    transform: scale(1.2);
    transition: .1s linear;
}

/* ================================= */

/* FIM DE MARCAS */

/* ================================= */

/* ================================= */

/* INICIO DE CASES */

/* ================================= */

#case {
    position: relative;
    /* margin-bottom: 12em !important; */
    overflow-y: hidden;
}

#case .case {
    padding: 4em 0 4em 0;
}

#case .case-dark {
    background-color: #ECECEC;
}

#case .case img {
    width: 100%;
}

#case .case h4 {
    font-weight: normal;
    /* margin-top: 4em; */
}

@media screen and (max-width:991px) {
    #case .case img {
        margin: 2em 0 2em 0;
    }
}

@media screen and (max-width:768px) {
    #case .case-text {
        padding: 0 !important;
    }
    #case .case-text>div {
        margin-top: 5em;
    }
    #case h1::after {
        display: none;
    }
    #case .overlay-image {
        top: 13em;
    }
}

@media screen and (max-width:439px) {
    #case .case-text>div {
        margin-top: 0;
    }
    #case .overlay-image {
        height: 100%;
    }
}

/* ================================= */

/* FIM DE CASES */

/* ================================= */

/* ================================= */

/* INICIO DE DEPOIMENTOS */

/* ================================= */

#depoimentos h1 {
    color: #527697;
    font-weight: bold;
    /* text-align: right; */
}

.c-carousel__slide {
    /* background-color: red; */
    width: 100% !important;
}

.c-carousel__slide img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    object-fit: cover;
}

#depoimentos .carousel {
    right: -9em;
    color: white;
    background: rgb(29, 29, 29);
    background: -moz-linear-gradient(90deg, #4A4642 0%, rgba(141, 130, 121, 1) 100%);
    background: -webkit-linear-gradient(90deg, #4A4642 0%, rgba(141, 130, 121, 1) 100%);
    background: linear-gradient(90deg, #4A4642 0%, rgba(141, 130, 121, 1) 100%);
}

#depoimentos .btn-carousel {
    cursor: pointer;
}

@media screen and (max-width:768px) {
    #depoimentos h1 {
        text-align: center;
    }
    #depoimentos .carousel {
        margin-top: 2em;
        left: 0;
    }
}

@media screen and (max-width:575px) {
    .btn-carousel {
        display: none;
    }
}

/* ================================= */

/* FIM DE DEPOIMENTOS */

/* ================================= */

/* ================================= */

/* INICIO DE FALE-CONOSCO */

/* ================================= */

#fale-conosco {
    margin-top: 5em;
    position: relative;
}

#fale-conosco h4 {
    margin-bottom: 20px;
}

#fale-conosco button {
    background: #FFAD00;
    color: white;
    border-radius: 0;
    padding: 10px 20px 10px 20px;
}

@media screen and (max-width:991px) {
    #fale-conosco .title h4::before {
        left: -13em !important;
    }
}

@media screen and (max-width:768px) {
    #fale-conosco .title {
        text-align: center;
    }
    #fale-conosco .title h4::before {
        left: -12em !important;
    }
    #fale-conosco .help img {
        width: 100%;
    }
}

/* ================================= */

/* FIM DE FALE-CONOSCO */

/* ================================= */

/* ================================= */

/* INICIO DE CONTATO */

/* ================================= */

#contato {
    position: relative;
    color: white;
}

#contato .background {
    position: absolute;
    top: 2em;
    right: -12em;
    width: 100%;
    height: 88%;
    background: -moz-linear-gradient(90deg, #5794B9 0%, #5D9EC5);
    background: -webkit-linear-gradient(90deg, #5794B9 0%, #5D9EC5);
    background: linear-gradient(90deg, #5794B9 0%, #5D9EC5);
}

#contato p {
    font-size: 1.5em;
}

#contato h2 {
    font-size: 1.5em;
}

#contato ul {
    list-style: none !important;
    padding: 0 !important;
}

#contato img {
    width: 150%;
}

#contato .fa-ul {
    margin-left: 2.1em;
}

#contato .fa-li {
    text-align: left;
}

#contato li {
    margin-bottom: .5em;
}

#contato .form-group>label {
    margin-top: 10px !important;
}

#contato #informacoes, #contato #formulario {
    padding-top: 3em !important;
    padding-left: 5.5em;
}

#contato .btn {
    background: #FFAD00;
    color: white;
    border-radius: 0;
}

#contato .design {
    flex-grow: .5 !important;
}

#contato h2 {
    font-size: 1em;
}

#contato li {
    font-size: .8em;
}

#contato label {
    font-size: .8em;
}

@media screen and (max-width:768px) {
    #contato .design {
        display: none;
    }
    #contato #informacoes, #contato #formulario {
        padding-top: 2em !important;
    }
}

@media screen and (max-width:991px) {
    #contato #informacoes, #contato #formulario {
        padding-left: 2em;
    }
    #contato>.container {
        padding: 0 !important;
    }
    #contato #info-box {
        padding-left: 0 !important;
    }
    #contato .design {
        display: none;
    }
    #contato {
        background: -moz-linear-gradient(90deg, #5794B9 0%, #5D9EC5);
        background: -webkit-linear-gradient(90deg, #5794B9 0%, #5D9EC5);
        background: linear-gradient(90deg, #5794B9 0%, #5D9EC5);
        margin-bottom: 2em;
    }
    #contato .design, #contato .background {
        display: none;
    }
}

@media screen and (max-width:960px) {}

/* ================================= */

/* FIM DE CONTATO */

/* ================================= */

/* ================================= */

/* INICIO DE FOOTER */

/* ================================= */

footer .infos {
    background: -moz-linear-gradient(90deg, #054052 0%, #135667);
    background: -webkit-linear-gradient(90deg, #054052 0%, #135667);
    background: linear-gradient(90deg, #054052 0%, #135667);
    color: white;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: white;
}

footer i {
    font-size: 25px;
    margin: 0 10px 0;
}

/* ================================= */

/* FIM DE FOOTER */

/* ================================= */